{% extends "base.html" %} 

{% block title%}
Singin
{% endblock %}

{% block content %}

<div class="container">
    <div class="register-form">
        <h2>Registrazione</h2>

        <!-- Inizia il tag del form -->
        <form action="{{ url_for('user_manager.create_user') }}" method="post">
            {{ form.hidden_tag() }} <!-- CSRF token -->

            <div class="input-box">
                {{ form.name.label(class="hidden") }}
                {{ form.name(class="input-field", placeholder="Name") }}
            </div>

            <div class="input-box">
                {{ form.surname.label(class="hidden") }}
                {{ form.surname(class="input-field", placeholder="Surname") }}
            </div>

            <div class="input-box">
                {{ form.email.label(class="hidden") }}
                {{ form.email(class="input-field", placeholder="Email") }}
            </div>

            <div class="input-box">
                {{ form.password1.label(class="hidden") }}
                {{ form.password1(class="input-field", placeholder="Password") }}
            </div>

            <div class="input-box">
                {{ form.password2.label(class="hidden") }}
                {{ form.password2(class="input-field", placeholder="Confirm Password") }}
            </div>

            <button type="submit">Sign In</button>
        </form>
        <!-- Fine del tag del form -->

    </div>
</div>


{% endblock %}
