{% extends "base.html" %} {% block title%}Singin{% endblock %}

{% block content %}

<div class="container">
    <div class="register-form">
        <h2>Registrazione</h2>

        <div class="input-box">
            <input type="text" placeholder="Nome" required>
        </div>

        <div class="input-box">
            <input type="text" placeholder="Cognome" required>
        </div>

        <div class="input-box">
            <input type="email" placeholder="Email" required>
        </div>

        <div class="input-box">
            <input type="password" placeholder="Password" required>
        </div>

        <div class="input-box">
            <input type="password" placeholder="Conferma Password" required>
        </div>

        <button type="submit">Registrati</button>
    </div>
</div>



{% endblock %}